@import "tailwindcss";

body{
    color: white;
}

body{
    background-color: #000;
}

button{ 
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert();
}

.pop-in-out {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pop-in-out:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.pop-in-out:active {
  transform: scale(0.95);
}


*::-webkit-scrollbar{
    display: none;
}

